@font-face {
  font-family: "LeagueSpartan-SemiBold.ttf";
  src: url("../font/SequelSansOTF/otf/LeagueSpartan-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Begild.otf";
  src: url("../font/SequelSansOTF/otf/Begild.otf");
  font-weight: bold;
  font-style: bold;
}

body {
  background-color: rgba(255, 255, 255, 0.946);
  margin: 0;
}

.background-image {
  opacity: 0.5;
}

.hi {
  display: flex;
  justify-content: center;
  font-family: "Begild.otf";
  letter-spacing: 3px;
  font-size: 50;
}

.text-gradient1 {
  color: #ff8c00;
  background: radial-gradient(
    77.35% 538.53% at 16.63% 71.41%,
    #e37ad5 0%,
    #6d8ecf 50.05%,
    #94b6f9 100%
  );
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
}

.contacts-links {
  text-align: center;
  justify-content: center;
  font-family: "SequelSansHeadline", "sans-serif";
  font-size: 25;
  margin-bottom: 300px;
  color: #6d8ecf;
}

.phrase1 {
  margin-bottom: 50px;
  font-family: "LeagueSpartan-SemiBold.ttf", sans-serif; /* usa un font di riserva nel caso il tuo font personalizzato non venga caricato */
}

.social-media {
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.phrase2 {
  text-align: left;
  margin-top: 50px;
  line-height: 100px;
  font-family: "LeagueSpartan-SemiBold.ttf", sans-serif; /* usa un font di riserva nel caso il tuo font personalizzato non venga caricato */
}

.login-box {
  position: relative;
  top: 50%;
  left: 50%;
  width: 700px;
  padding: 57px;
  transform: translate(-50%, -50%);
  background: rgba(139, 172, 255, 0.811);
  box-sizing: border-box;
  box-shadow: 0 15px 25px #ff55c6c7;
  border-radius: 10px;
  font-family: "SequelSansHeadline";
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fc96ed;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: none;
  border: none;
}

.login-box button:hover {
  background: #ffbcf5;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #fc96ed, 0 0 25px #fc96ed, 0 0 50px #fc96ed,
    0 0 100px#fc96ed;
}

.login-box button span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.login-box button span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fc96ed);
  animation: btn-anim1 2s linear infinite;
}

.all-contacts {
  padding: 50px;
}

@media only screen and (max-width: 768px) {
  .phrase2 {
    font-size: large;
    line-height: 40px;
  }

  .hi {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Begild.otf";
    letter-spacing: 3px;
    font-size: 20;
  }

  .login-box {
    width: 300px;
  }
}
